
body
{
    background-image: url("japan.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Verdana";
    color: grey;
}

.container
{
    background-color: rgba(255,255,255,0.5);
}

header
{
    font-size: 1.5em;
    text-align:center;
    background-color:rgba(139, 182, 223, 0.5);
}

nav
{
    border-radius:5px;
    font-size:1.2em;
}

.zaszlo
{
	width:25%;
	height:25%;
}

h1
{
color:red;
font-family: Helvetica ,  sans-serif;
word-spacing: 15px;
line-height:1.5em;
}

h3
{
color:#292929;
font-family: Arial, Helvetica, sans-serif;
word-spacing: 13px;
line-height:1.4em;
}
h2
{
color:black;
font-family:	Helvetica;
word-spacing: 11px;
line-height:1.2em;
}
a
{
	text-decoration: none;
	color:red;
}

.nem
{
	text-transform:capitalize;
	color:#00004d;
	text-align: center;
}


.utazas
{
	background-image:url("utazas.png");
	 background-size: cover;
    font-family: "Verdana";
}

.valami
{
	font-size: 1.5em;
    text-align:center;
	background-color:DodgerBlue
}

li
{
	text-decoration: none;
	color:red;
}














